// 変数設定
$theme-color: #57bc90;
$primary-color: #77c9d4;
$accent-color: #015249;
$base-color: rgba(204,255,204,0.1);
$text-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$subtext-color: #808080;

// Colors
$bg-color: #ffffff;
$dot-color: hsl(256,33,10);
// Dimensions
$dot-size: 1px;
$dot-space: 22px;