.hero-content {
    &_body {
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .fv__hero img {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 120px;
        padding-top: 6%;
        padding-bottom: 3%;
    }
    .about-time {
        font-style: inherit;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }
    .favorite-button .icon {
        padding-left: 12px;
        padding-top: 0;
    }
    .button.is-rounded {
        border-radius: 50%;
    }
}
