@import "variables";

.tab-container {
    padding: 20px;
    line-height: 2;
    height: 300px;

    .tab-content {
        display: none;

        &.active {
            display: block;
        }
    }
}

.profile__section {
background: $base-color;
}
.media + .media {
    border-top: none;
    margin-top: 0;
}