.record__section {
    min-height: 120vh;
}
.custom-container {
    max-width: 800px;
}
.custom-tabs {
    width: 70%;
    margin: 0 auto 0 auto;
}

.tab-container {
    padding: 20px;
    line-height: 2;
    height: 300px;

    .tab-content {
        display: none;

        &.active {
            display: block;
        }
    }
}
