@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;600&display=swap");
@import "variables";


/* モーダル問題リスト */
.custom-list {
    li {
        list-style: none;

        &:nth-child(1)::before {
            content: "【問題1】";
            margin-right: 0.5em;
        }
        &:nth-child(2)::before {
            content: "【問題2】";
            margin-right: 0.5em;
        }
        &:nth-child(3)::before {
            content: "【問題3】";
            margin-right: 0.5em;
        }
        &:nth-child(4)::before {
            content: "【問題4】";
            margin-right: 0.5em;
        }
        &:nth-child(5)::before {
            content: "【問題5】";
            margin-right: 0.5em;
        }
        &:nth-child(6)::before {
            content: "【問題6】";
            margin-right: 0.5em;
        }
        &:nth-child(7)::before {
            content: "【問題7】";
            margin-right: 0.5em;
        }
        &:nth-child(8)::before {
            content: "【問題8】";
            margin-right: 0.5em;
        }
        &:nth-child(9)::before {
            content: "【問題9】";
            margin-right: 0.5em;
        }
    }
}

.code-question {
    padding: .3rem;
}
/* header */
.test {
    margin: 1rem;
}

/* main */
.question-content {
    height: 100%;

    &__section {
        height: 100%;
        min-height: 510px;
        padding: .75rem 5rem;

        &_body {

            .question {
                justify-content: center !important;
                display: flex;

                .content {
                    max-width: 900px;
                    width: 100%;
                    padding: 3rem;
                }
            }

            .answer {
                margin: 3rem;
                font-weight: bold;
            }
        }
    }
}

/* Footer */
.test-btns_area {
    text-align: center;

    .is-active {
        color: #fff;
        background-color: $is-primary;
        font-weight: bold;
    }

    .btns {
        a {
            margin: 1rem 3.5rem;
        }
    }
}

@media screen and (max-width: 768px) {
    /* header */
    .test {
        .px-6 {
            padding-left: 0rem !important;
            padding-right: 0rem !important;
        }
    }
    /* question */
    .question-content__section {
        height: 100%;
        min-height: 510px;
        padding: 0;
        /* answer */
        .answer {
            .has-text-right {
                text-align: center !important;
            }

            .has-text-left {
                text-align: center !important;
            }
        }
    }
    /* footer */
    .test-btns_area {
        .btns {
            display: flex;
            justify-content: center;
            padding-top: 0;

            a {
                margin: 1rem .5rem;
            }
        }
    }
}

/***** テストトップ画面 *****/
@media screen and (max-width: 768px) {
    .modal-card-title {
        color: #363636;
        flex-grow: 1;
        flex-shrink: 0;
        font-size: 0.9rem;
        line-height: 1;
    }

    .content {
        p {
            font-size: 0.9rem;
        }
    }
}