html, body {
    padding: 0;
    border: 0;
    margin: 0; }
  
  .clearfix {
    zoom: 1; }
    .clearfix:before, .clearfix:after {
      content: "";
      display: table; }
    .clearfix:after {
      clear: both; }
  
  .box {
    text-align: center;
    border-bottom: 1px solid #eee; }
    .box .box-heading {
      padding: 20px 0;
      border-bottom: 1px solid #eee;
      background-color: rgba(0, 0, 0, 0.05); }
      .box .box-heading .heading-text {
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.1em;
        color: #000000; }
    .box .box-body {
      padding: 40px 0; }
  
  .btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    background-color: #fc497f;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    border: 2px solid #000000;
    padding-left: 15px;
    margin: 200px 0px 20px 20px;
    overflow: hidden;
    /*-- btn size --*/
    /*-- btn radius --*/
    /*-- btn color --*/
    /*-- btn hover 01 --*/ }
    .btn .btn-text {
      color: #000000;
      position: relative;
      z-index: 2;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px; }
    .btn .btn-bg {
      position: absolute;
      top: 0;
      left: 0; }
    .btn:last-child {
      margin-right: 0; }
    .btn.btn-small {
      width: 150px;
      height: 40px;
      line-height: 40px; }
    .btn.btn-medium {
      width: 170px;
      height: 50px;
      line-height: 45px; }
    .btn.btn-large {
      width: 190px;
      height: 60px;
      line-height: 60px; }
    .btn.btn-radius01 {
      border-radius: 5px; }
    .btn.btn-radius02 {
      border-radius: 30px; }
    .btn.btn-radius03 {
      width: 150px;
      height: 150px;
      line-height: 150px;
      border-radius: 150px; }
    .btn.btn-color01 {
      border: 2px solid #00AB7C; }
      .btn.btn-color01 .btn-text {
        color: #00AB7C; }
    .btn.btn-color02 {
      border: 2px solid #fd1111; }
      .btn.btn-color02 .btn-text {
        color: #fd1111; }
    .btn.btn-hover08 .btn-text {
      color: #fff;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
    .btn.btn-hover08 .icon {
      position: absolute;
      top: 0;
      right: -30px;
      padding: 5px 0 0 0;
      z-index: 2;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
    .btn.btn-hover08 .btn-bg {
      width: 0;
      height: 100%;
      background-color: #fd1111;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
    .btn.btn-hover08:hover .btn-text {
      color: #FFFFFF;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
    .btn.btn-hover08:hover .icon {
      color: #fff;
      right: -70px;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
    .btn.btn-hover08:hover .btn-bg {
      width: 100%;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
    
  
  @font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot?-dc81dy");
    src: url("../fonts/icomoon.eot?#iefix-dc81dy") format("embedded-opentype"), url("../fonts/icomoon.ttf?-dc81dy") format("truetype"), url("../fonts/icomoon.woff?-dc81dy") format("woff"), url("../fonts/icomoon.svg?-dc81dy#icomoon") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  
  .icon-arrow:before {
    content: "\e600"; }