@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;600&display=swap");
body {
  min-height: 100vh;
}

/* Remove unde
a:hover {
  text-decoration: none;
}
/* Remove Bootstrap button outline */
button .focus, a .focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
button:focus, a:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

[data-component=sidebar] .sidebar {
  position: fixed;
  z-index: 9999;
}
[data-component=sidebar] .first-menu {
  position: fixed;
  background-color: #2a2a2a;
  height: 100%;
  width: 45px;
  overflow: hidden;
  transition: width 0.5s;
}
[data-component=sidebar] .first-menu a {
  color: #fff;
}
[data-component=sidebar] .first-menu a:hover {
  color: #9c9c9c !important;
}
[data-component=sidebar] .first-menu i {
  font-size: 24px;
}
[data-component=sidebar] .first-menu span {
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}
[data-component=sidebar] .first-menu:hover span {
  opacity: 1;
  visibility: visible;
}
[data-component=sidebar] .first-menu .list-group-item {
  border-radius: 0;
}
[data-component=sidebar] .first-menu .list-group-item:hover {
  background-color: none;
}
[data-component=sidebar] .first-menu:hover {
  width: 150px;
}
[data-component=sidebar] .list-group-item {
  font-size: 14px;
}
[data-component=sidebar] .submenu {
  position: fixed;
  left: 150px;
  width: 200px;
  top: 52px;
  background-color: #fff;
  height: 100vw;
  opacity: 0;
  visibility: hidden;
  transition: 500ms opacity 500ms, 500ms visibility 500ms;
}
[data-component=sidebar] .submenu span {
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}
[data-component=sidebar] .submenu span i {
  font-size: 1.2em;
}
[data-component=sidebar] .submenu span .custom_icon {
  padding-left: 9px;
}
[data-component=sidebar] .submenu .list-group-item {
  margin-top: 24px;
}
[data-component=sidebar] .submenu .sidemenu-title {
  color: #015249;
}
[data-component=sidebar] .first-menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
[data-component=sidebar] .list-group-item {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.footer {
  position: absolute;
  width: 100%;
  z-index: 9999;
  padding: 3rem 1.5rem 6rem;
}

.menu {
  user-select: none;
}

.contents {
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
}

.contents.is-open {
  line-height: normal;
  height: auto;
  opacity: 1;
}

.courselist_time {
  padding: 0.5em 0.7em;
  border-left: 2px solid #dedede;
  color: #333333;
}

.container-fluid {
  max-width: 907px;
}

.custom_content-info {
  position: relative;
  z-index: 0;
}
.custom_content-info::before {
  content: "";
  position: absolute;
  background: #57bc90;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fa-customx {
  font-size: 4rem;
}

.is-custom {
  height: 100%;
  width: 100%;
  min-height: 110.5px;
}

.video-info__section {
  padding-bottom: 3rem;
  letter-spacing: 0.1rem;
}
.video-info__section h1, .video-info__section h2 {
  font-weight: bold;
}
.video-info__section h2 {
  padding-bottom: 1rem;
}
.video-info__section h2:first-letter {
  font-size: 1.5em;
  color: #57bc90;
}
.video-info__section p {
  padding-bottom: 1.5rem;
}
.video-info__section .video-title {
  font-size: 1.5rem;
  color: #57bc90;
}
.video-info__section .video-info_body {
  height: 400px;
  overflow: auto;
}

.section {
  padding: 1rem 1.5rem 3rem 1.5rem;
}

.course-top__section {
  display: flex;
  justify-content: center;
}

.code-area {
  justify-content: center;
  display: flex;
}

#editor {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 550px;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 1rem 0 3rem 0.7rem !important;
  }
  .code-area {
    padding-left: 55px !important;
  }
  #editor {
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 273px;
  }
  .notification {
    border-radius: 4px;
    position: relative;
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  }
  .complete {
    margin: 1rem 0.5rem 0 0.3rem;
  }
  .video-title {
    font-size: 1.1rem;
    color: #57bc90;
    font-weight: bold;
  }
  .mb-6 {
    margin-bottom: 0 !important;
  }
  .mt-2 {
    margin-top: 0.75rem !important;
  }
  img {
    padding-right: 0.2rem;
  }
  .column {
    padding-top: 0;
  }
  .video-info__section .video-info_body {
    height: 460px;
    overflow: auto;
  }
}
/* 目次 START */
.toc {
  margin-bottom: 30px;
  border: 2px solid #262626;
  border-radius: 3px;
}
.toc div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  background-color: #4a4a4a;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
}
.toc div::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 5px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M3.8%2017.2h-3c-.5%200-.8.4-.8.8v3c0%20.4.3.8.8.8h3c.4%200%20.8-.3.8-.8v-3c-.1-.4-.4-.8-.8-.8zm0-15h-3c-.5%200-.8.4-.8.8v3c0%20.4.3.8.8.8h3c.4%200%20.8-.3.8-.8V3c-.1-.4-.4-.8-.8-.8zm0%207.6h-3c-.5%200-.8.3-.8.7v3c0%20.4.3.8.8.8h3c.4%200%20.8-.3.8-.8v-3c-.1-.4-.4-.7-.8-.7zM23.2%2018h-15c-.4%200-.8.3-.8.8v1.5c0%20.4.3.8.8.8h15c.4%200%20.8-.3.8-.8v-1.5c0-.5-.3-.8-.8-.8zm0-15h-15c-.4%200-.7.3-.7.8v1.5c0%20.4.3.7.7.7h15c.5%200%20.8-.3.8-.8V3.8c0-.5-.3-.8-.8-.8zm0%207.5h-15c-.4%200-.8.3-.8.8v1.5c0%20.4.3.8.8.8h15c.4%200%20.8-.3.8-.8v-1.5c0-.5-.3-.8-.8-.8z%22%2F%3E%3C%2Fsvg%3E");
  content: "";
}
.toc ol {
  list-style-type: decimal;
  margin: 0;
  overflow: hidden;
}
.toc > ol {
  padding: 1em 1em 1em 3em;
}
.toc ol ol {
  margin-top: 5px;
  padding-left: 1.1em;
}
.toc ol ol li {
  font-weight: 500;
  font-size: 0.9em;
}
.toc li {
  padding: 5px 0;
  font-weight: 600;
}
.toc a {
  color: #333;
  text-decoration: none;
}

/* 目次 END */
