
.aside {
    display: block;
    background-color: #F9F9F9;
    border-right: 1px solid #DEDEDE;
}

.messages {
    display: block;
    background-color: #fff;
    border-right: 1px solid #DEDEDE;
    padding: 40px 20px;
}

.message {
    display: block;
    background-color: #fff;
    padding: 40px 20px;
}

.aside .compose {
    height: 95px;
    margin: 0 -10px;
    padding: 25px 30px;
}

    .aside .compose .button {
        color: #F6F7F7;
    }

        .aside .compose .button .compose {
            font-size: 14px;
            font-weight: 700;
        }

.aside .main {
    padding: 40px;
    color: #6F7B7E;
}

.aside .title {
    color: #6F7B7E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.aside .main .item {
    display: block;
    padding: 10px 0;
    color: #6F7B7E;
}

    .aside .main .item.active {
        background-color: #F1F1F1;
        margin: 0 -50px;
        padding-left: 50px;
    }

    .aside .main .item:active, .aside .main .item:hover {
        background-color: #F2F2F2;
        margin: 0 -50px;
        padding-left: 50px;
    }

.aside .main .icon {
    font-size: 19px;
    padding-right: 30px;
    color: #A0A0A0;
}

.aside .main .name {
    font-size: 15px;
    color: #5D5D5D;
    font-weight: 500;
}

.messages .action-buttons {
    padding: 0;
    margin-top: -20px;
}

.message .action-buttons {
    padding: 0;
    margin-top: -5px;
}

.action-buttons .control.is-grouped {
    display: inline-block;
    margin-right: 30px;
}

    .action-buttons .control.is-grouped:last-child {
        margin-right: 0;
    }

    .action-buttons .control.is-grouped .button:first-child {
        border-radius: 5px 0 0 5px;
    }

    .action-buttons .control.is-grouped .button:last-child {
        border-radius: 0 5px 5px 0;
    }

    .action-buttons .control.is-grouped .button {
        margin-right: -5px;
        border-radius: 0;
    }

.pg {
    display: inline-block;
    top: 10px;
}

.action-buttons .pg .title {
    display: block;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 3px;
    font-size: 12px;
}

.action-buttons .pg a {
    font-size: 12px;
    color: #AAAAAA;
    text-decoration: none;
}

.is-grouped .button {
    background-image: linear-gradient(#F8F8F8, #F1F1F1);
}

    .is-grouped .button .fa {
        font-size: 15px;
        color: #AAAAAA;
    }

.inbox-messages {
    margin-top: 40px;
}

.message-preview {
    margin-top: 60px;
}

.inbox-messages .card {
    width: 100%;
}

.inbox-messages strong {
    color: #5D5D5D;
}

.inbox-messages .msg-check {
    padding: 0 20px;
}

.inbox-messages .msg-subject {
    padding: 10px 0;
    color: #5D5D5D;
}

.inbox-messages .msg-attachment {
    float: right;
}

.inbox-messages .msg-snippet {
    padding: 5px 20px 0px 5px;
}

.inbox-messages .msg-subject .fa {
    font-size: 14px;
    padding: 3px 0;
}

.inbox-messages .msg-timestamp {
    float: right;
    padding: 0 20px;
    color: #5D5D5D;
}

.message-preview .avatar {
    display: inline-block;
}

.message-preview .top .address {
    display: inline-block;
    padding: 0 20px;
}

.avatar img {
    width: 40px;
    border-radius: 50px;
    border: 2px solid #999;
    padding: 2px;
}

.address .name {
    font-size: 16px;
    font-weight: bold;
}

.address .email {
    font-weight: bold;
    color: #B6C7D1;
}

.card.active {
    background-color: #F5F5F5;
}

article.post {
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.mobile-messagelist:not(:last-child) {
    border-bottom: 1px #e3e3e3 solid;
}

.mobile-messagelist {
    font-size: .85rem;
    padding: .5rem 0 .5rem 0;
}


/* ボタン */
.ms-nav-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* bottom: 0; */
  /* left:0; */
}
#ms-menu {
  display: none;
}
/*.bg-change {
  position: absolute;
  bottom: -75px;
  right: -90px;
  width: 1px;
  height: 1px;
  border-radius: 100% 0% 0% 0%;
  background: #2D394D;
  transition: all .25s ease;
}
.ms-nav .ms-menu-toggle:checked ~ .bg-change {
  width: 3000px;
  height: 3000px;
  transition: all .5s ease;
}*/
.ms-nav {
  position: fixed;
  bottom: 30px;
  left: 10px;
}
.ms-nav > .ms-main {
  position: relative;
}

.ms-nav > .ms-li {
  position: absolute;
  bottom: 0;
  right: 8px;
  transition: bottom .5s ease;
  z-index: 1;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li a {
  box-shadow: 0px 1px 3px #333333;
}
  .ms-nav .ms-menu-toggle:checked ~ .ms-li1 {
    bottom: 120%;
    transition: bottom .5s ease;
  }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li1 a span {
    opacity: 1;
    transition: opacity .5s ease .1s;
  }
    .ms-nav .ms-menu-toggle:checked ~ .ms-main:after {
      animation: big-border-bottom-animation .5s ease .1s;
    }
    .ms-nav .ms-menu-toggle:checked ~ .ms-li1:before {
      animation: border-top-animation .5s ease .2s;
    }
    .ms-nav .ms-menu-toggle:checked ~ .ms-li1:after {
      animation: border-bottom-animation .5s ease .2s;
    }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li2 {
    bottom: 225%;
    transition: bottom .6s ease;
  }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li2 a span {
    opacity: 1;
    transition: opacity .6s ease .2s;
  }
    .ms-nav .ms-menu-toggle:checked ~ .ms-li2:before {
      animation: border-top-animation .5s ease .2s;
    }
    .ms-nav .ms-menu-toggle:checked ~ .ms-li2:after {
      animation: border-bottom-animation .5s ease .3s;
    }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li3 {
    bottom: 330%;
    transition: bottom .7s ease;
  }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li3 a span {
    opacity: 1;
    transition: opacity .7s ease .3s;
  }
    .ms-nav .ms-menu-toggle:checked ~ .ms-li3:before {
      animation: border-top-animation .5s ease .3s;
    }
    .ms-nav .ms-menu-toggle:checked ~ .ms-li3:after {
      animation: border-bottom-animation .5s ease .4s;
    }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li4 {
    bottom: 425%;
    transition: bottom .8s ease;
  }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li4 a span {
    opacity: 1;
    transition: opacity .8s ease .4s;
  }
    .ms-nav .ms-menu-toggle:checked ~ .ms-li4:before {
      animation: border-top-animation .5s ease .4s;
    }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li5 {
    bottom: 520%;
    transition: bottom .8s ease;
  }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li5 a span {
    opacity: 1;
    transition: opacity .8s ease .4s;
  }
    .ms-nav .ms-menu-toggle:checked ~ .ms-li5:before {
      animation: border-top-animation .5s ease .4s;
    }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li6 {
    bottom: 620%;
    transition: bottom .8s ease;
  }
  .ms-nav .ms-menu-toggle:checked ~ .ms-li6 a span {
    opacity: 1;
    transition: opacity .8s ease .4s;
  }
    .ms-nav .ms-menu-toggle:checked ~ .ms-li6:before {
      animation: border-top-animation .5s ease .4s;
    }

/* ボタン */
.ms-nav .ms-menu-toggle:checked ~ .ms-main span {
  transform: rotate(-45deg);
  transition: transform .35s ease;
}
.ms-nav .ms-menu-toggle ~ .ms-main span {
  transition: transform .35s ease;
  opacity: 1;
}
.ms-nav > .ms-main > a {
  box-shadow: 0px 1px 3px #333333;
}
.ms-nav > li a {
  font-size: 25px;
  color: #FFFFFF;
  background: #57bc90;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100%;
  position: relative;
  text-align: center;
}

    .ms-nav > .ms-main a,
    .ms-nav > .ms-main > a > label {
        font-size: 30px;
        color: #FFFFFF;
        background: #57bc90;
        width: 65px;
        height: 65px;
        display: block;
        border-radius: 100%;
        position: relative;
        text-align: center;
        z-index: 19;
    }
    .ms-nav > li > a span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 30px;
      width: 30px;
      opacity: 0;
      z-index: 12;
    }

.section {
    padding: 3rem 1.5rem 3rem 0;
}

@media screen and (max-width: 768px) {
    
    .section {
        padding: 1rem 1rem !important;
    }
}
.ellipsis {
    width: 960px; /* 省略せずに表示するサイズを指定 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}