.tab-container {
  padding: 20px;
  line-height: 2;
  height: 300px;
}
.tab-container .tab-content {
  display: none;
}
.tab-container .tab-content.active {
  display: block;
}

.profile__section {
  background: rgba(204, 255, 204, 0.1);
}
