@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;600&display=swap");
.terms__section {
  background-color: rgba(204, 255, 204, 0.1);
  min-height: 100vh;
}
.terms__section .policy {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.terms__section .policy .terms {
  font-weight: normal !important;
}
.terms__section .policy_content .policy-box {
  margin-bottom: 1.5rem;
}
.terms__section .policy_content-title {
  margin-bottom: 1.2rem;
  font-size: 1.1em;
  font-weight: bold;
}
.terms__section .policy_content-list li {
  list-style: none;
  padding-bottom: 1.1rem;
}
.terms__section .policy_content-list li:nth-child(1)::before {
  content: "1.";
  margin-right: 0.5em;
}
.terms__section .policy_content-list li:nth-child(2)::before {
  content: "2.";
  margin-right: 0.5em;
}
.terms__section .policy_content-list li:nth-child(3)::before {
  content: "3.";
  margin-right: 0.5em;
}
.terms__section .policy_content-list li:nth-child(4)::before {
  content: "4.";
  margin-right: 0.5em;
}
.terms__section .policy_content-list li:nth-child(5)::before {
  content: "5.";
  margin-right: 0.5em;
}
.terms__section .policy_content-list li:nth-child(6)::before {
  content: "6.";
  margin-right: 0.5em;
}
.terms__section .policy_content-list li:nth-child(7)::before {
  content: "7.";
  margin-right: 0.5em;
}
.terms__section .policy_content-list li:nth-child(8)::before {
  content: "8.";
  margin-right: 0.5em;
}
.terms__section .policy_content-list li:nth-child(9)::before {
  content: "9.";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub {
  padding-top: 0.5rem;
  color: #5876a3;
}
.terms__section .policy_content-list-sub li {
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  letter-spacing: 0.1rem;
}
.terms__section .policy_content-list-sub li:nth-child(1)::before {
  content: "(1)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(2)::before {
  content: "(2)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(3)::before {
  content: "(3)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(4)::before {
  content: "(4)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(5)::before {
  content: "(5)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(6)::before {
  content: "(6)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(7)::before {
  content: "(7)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(8)::before {
  content: "(8)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(9)::before {
  content: "(9)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(10)::before {
  content: "(10)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(11)::before {
  content: "(11)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(12)::before {
  content: "(12)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(13)::before {
  content: "(13)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(14)::before {
  content: "(14)";
  margin-right: 0.5em;
}
.terms__section .policy_content-list-sub li:nth-child(15)::before {
  content: "(15)";
  margin-right: 0.5em;
}
.terms__section .policy_content .opt {
  display: flex;
  justify-content: center;
  height: 10.03rem;
}
